<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add Item</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container mt-5">
    <h1>Add Item</h1>
    <form action="#" th:action="@{/items/add}" th:object="${item}" method="post" class="form-group">
        <label for="itemName">Item Name:</label>
        <input type="text" id="itemName" th:field="*{itemName}" required class="form-control">
        <label for="itemDescription">Item Description:</label>
        <input type="text" id="itemDescription" th:field="*{itemDescription}" required class="form-control">
        <label for="itemPrice">Item Price:</label>
        <input type="number" id="itemPrice" th:field="*{itemPrice}" required class="form-control">
        <label for="quantity">Quantity:</label>
        <input type="number" id="quantity" th:field="*{quantity}" required class="form-control">
        <input type="submit" value="Add Item" class="btn btn-primary mt-3">
    </form>
</div>
</body>
</html>