<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add User</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container mt-5">
    <h1 th:if="${user.UserID} == null">Add User</h1>
    <h1 th:if="${user.UserID} != null">Update User</h1>
    <form action="#" th:action="${user.UserID} == null ? @{/users/add} : @{/users/update/{userID}(userID=${user.UserID})}" th:object="${user}" method="post" class="form-group">
        <label for="username">Username:</label>
        <input type="text" id="username" th:field="*{UserName}" required class="form-control">
        <label for="firstName">First Name:</label>
        <input type="text" id="firstName" th:field="*{firstName}" required class="form-control">
        <label for="lastName">Last Name:</label>
        <input type="text" id="lastName" th:field="*{lastName}" required class="form-control">
        <label for="email">Email:</label>
        <input type="email" id="email" th:field="*{email}" required class="form-control">
        <label for="password">Password:</label>
        <input type="password" id="password" th:field="*{password}" required class="form-control">
        <label for="role">Role:</label>
        <select id="role" th:field="*{role}" class="form-control">
            <option value="CLIENT">Client</option>
            <option value="ADMINISTRATOR">ADMINISTRATOR</option>
        </select>
        <input type="submit" value="Submit" class="btn btn-primary mt-3">
    </form>
</div>
</body>
</html>